

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #d9d9d9;
  font-family: 'Poppins', sans-serif;
}

.container0 {
  background-color: #000;
  display: grid;
  grid-template-areas: "h""m""a""f";
  grid-template-rows: 18vh 95vh 38vh 19vh;
  grid-template-columns: 1fr;
  max-width: 100vw;
}

.container1 {
  height: 19;
}

header {
  grid-area: h;
  position: fixed;
  background: linear-gradient(rgb(179, 233, 244), rgb(63, 93, 99), rgb(0, 0, 0));
  height: 19vh;
  z-index: 2;
  margin-top: -8px;
}

.menu1 {
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: 19vh;
}

#menu {
  width: 100vw;
  margin: 0%;
  padding: 0%;
}

#menu ul {
  height: 18vh;
  margin: 0px;
  margin-left: 17%;
  width: 79vw;
  padding: 0px;
  text-align: center;
  background-color: transparent;
}

#menu ul li {
  display: inline-block;
  position: relative;
  background-color: transparent;
  margin: 6px;
  top: 50%;
  width: 165px;
  height: 38px;
  border-radius: 150px;
  padding: 5px 5px;
  justify-content: space-between;
  vertical-align: middle;
}

#menu ul li a {
  display: inline-block;
  position: absolute;
  background-color: transparent;
  padding: 1%;
  top: -2.3%;
  left: -0.5%;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 100px;
  border: none;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

#menu ul li:hover,
#menu ul li:focus,
#menu ul li:active {
  width: 165px;
  background-color: transparent;
  box-shadow: 0px 2px 50px rgb(255, 255, 255);
  transition: 0.3s;
  border: 1px solid #575757;
}

#menu ul li a:hover{
  color: #151515;
}

#menu ul li a::before {
  content: '';
  position: absolute;
  border-radius: 100px;
  width: 0;
  height: 95.5%;
  top: 4%;
  left: 0.5%;
  z-index: -1;
  transition: all 0.7s ease;
}

#menu ul li a:hover::before {
  width: 100%;
  background-color: rgb(15, 99, 245)
}

.logo {
  display: flex;
  margin-left: 8vh;
  margin-top: -15.5vh;
  height: 22vh;
  width: 22vh;
}

.logo {
  overflow: hidden;
}

.logo img {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.logo:hover img {
  cursor: pointer;
  animation: zoom 0.2s ease infinite;
}

@keyframes zoom {
  0%{
    transform: rotateZ(0deg);
  }
  
  25%{

    transform: rotateZ(10deg);
  }

  50%{
    transform: rotateZ(0deg);
  }

  75%{
    transform: rotateZ(-5deg);
  }

  100%{
    transform: rotateZ(0deg);
  }
}

#imgs {
  margin-top: 2vh;
  margin-left: 2vh;
  height: 18vh;
  width: 18vh;
}

.carrinhoPai {/*inicio do carrinho, container pai*/
  position: relative;
  display: block;
  max-width: 3%;
  height: 32%;
  left: 95vw;
  top: -10vh;
  cursor: pointer;
  border: 1px solid rgb(0, 255, 204);
}

#imgcarrinho {/*id da imagem do carrinho*/
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  z-index: -1;
  border: 2px solid rgb(212, 30, 30);
}

.carrinhoFilho {/*container filho*/
  position: relative;
  display: flex;
  width: 35vw;
  height: 45vh;
  left: -32vw;
  top: 0vh;
  overflow: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #151515;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.a2{
  position: fixed;
  background-color: #0454aa;
  text-align: center;
  width: 35%;
  border: 1px solid rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
}

#itens{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  
  width: 100vw;
  height: 20vh;
  margin-top: 8.1%;
  border: 2px solid rgb(224, 2, 2);
  overflow: auto;
}

/*fim do carrinho*/

.todosProdutos {/*Inicio da grade de produtos*/
  background: linear-gradient(180deg, rgb(0, 0, 0), rgb(0, 0, 0));
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  margin-right: 0px;
  overflow: auto;
}

::-webkit-scrollbar{/*personaliza a barra de rolagem*/
  background-color: #151515;
  width: 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#produtos {/*personaliza a grade de itens*/
  position: relative;
  max-width: 100vw;
  max-height: 175vh;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.produto-single {/*Container com todos os dados do produto*/
  width: 18%;
  height: 65%;
  margin: 2%;
  border-radius: 10px;
  border: 1px solid white;
  justify-content: space-between;
  position: relative;
  display: flex;
}

.produto-single img {/*Personaliza a foto dos produtos*/
  border-radius: 08px;
  max-width: 100%;
  position: absolute;
}

.produto-single p {/*Personaliza o nome dos produtos*/
  text-align: center;
  font-size: 10px;
  height: 30px;
  padding-top: 10px;
  margin-left: 10px;
  position: absolute;
  top: 70%;
}

.produto-single #preco{/*Personaliza o preço dos produtos*/
  text-align: center;
  font-size: 10px;
  height: 30px;
  padding-top: 10px;
  margin-left: 10px;
  position: absolute;
  top: 75%;
}

a {/*Personaliza o adicionar ao carrinho dos produtos*/
  position: relative;
  display: flex;
  text-align: center;
  border-radius: 09px;
  text-decoration: none;
  color: white;
  background-color: #076dda;  
  padding: 20px;
  scroll-behavior: auto;
  font-size: 10px;  
  max-width: 50%;
  max-height: 14.5%;
  top: 85.5%;  
  transition: box-shadow 0.3s ease; transform: 0.3s ease;
}

.produto-single a:active {/*ação ao clicar no botão adicionar ao carrinho*/
  max-width: 99%;
  margin-left: -0.7%;
  box-shadow: 0 0 0 0 #0454aa, inset 0px 0px 0px #0454aa;
  transform: translate(3px, 1px);
}

.produto-single r {
  cursor: pointer;
  border-radius: 09px;
  text-decoration: none;
  color: white;
  background-color: #da0707;
  text-align: center;
  display: flex;
  flex-direction: column 20px;
  padding: 20px;
  scroll-behavior: auto;
  font-size: 10px;  
  position: relative;
  max-width: 50%;
  max-height: 14.5%;
  top: 85.5%;  
  transition: box-shadow 0.3s ease; transform: 0.3s ease;
}

.produto-single r:active {/*ação ao clicar no botão adicionar ao carrinho*/
  max-width: 99%;
  margin-left: -0.7%;
  box-shadow: 0 0 0 0 #0454aa, inset 0px 0px 0px #0454aa;
  transform: translate(3px, 1px);
}

.produto-single:hover{/*ação ao passar o mouse os produtos*/
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 4px rgba(0, 157, 255, 0.278);
  transform: translate(3px, 3px);
}
  
.a1 {/*personaliza a tag com o título da grade de produtos*/
  position: sticky;
  max-width: 100vw;
  max-height: 30vh;
  background-color: rgb(0, 0, 0);
  margin-top: 24px;
  text-align: center;
  font-size: 25px;
  font-family: 'montserrat', sans-serif;
  z-index: 1;
}

main {/*Personaliza a area main dos produtos*/
  grid-area: m;
  background-color: rgb(0, 0, 0);
  max-width: 100vw;
  max-height: 156.5vh;
  color: whitesmoke;
}

aside {
  grid-area: a;
  padding: 0%;
  background-color: rgba(0, 55, 255, 0.61);
  max-width: 100vw;
  max-height: 38vh;
  border: 3px solid yellow;
}

footer {
  grid-area: f;
  position: -webkit-sticky;
  width: 100%;
  height: 200%;
  background: rgb(2, 2, 2);
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:after {
  position: absolute;
  content: '';
  width: 15%;
  height: 2px;
  background: blue;
  top: -10px;
}

.box .content:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background: #1a1a1a;
  top: -10px;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  width: 40px;
  height: 40px;
  background: #1a1a1a;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: blue;
}

#w:hover {
  background-color: green;
}

#i:hover {
  background: linear-gradient(45deg, #fdae19, #fb7511, #c6008b, #d80056, #f12316);
}

#t:hover {
  background: linear-gradient(90deg, #ca3369 20%, #a25b82, #7d8199, #58a8b1, #2cd9ce);
}

.left .content p {
  text-align: justify;
}

.center .content .fas {
  font-size: 23px;
  background: #1a1a1a;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: rgb(0, 0, 209);
}

.center .content .text {
  font-size: 17px;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 10px 0;
}

.center .content .msg {
  margin-top: 10px;
}

.right form input,
.right form textarea {
  width: 100%;
  font-size: 17px;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}

.right form input {
  height: 35px;
}

.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}

.right form .text {
  font-size: 17px;
  margin-bottom: 2px;
  color: #656565;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  background: blue;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

.right form .btn button:hover {
  background: #000;
}

.bottom .center {
  padding: 5px;
  font-size: 15px;
  background: #151515;
  text-align: center;
}

.bottom .center span {
  color: #656565;
}

.bottom .center a {
  color: rgb(0, 162, 255);
  text-decoration: none;
}

.bottom .center a:hover {
  text-decoration: underline;
}